body {
  height: 100vh;
}

.Candy-map img {
  width: auto;
  height: 800px;
  object-fit: cover;
}

.Candy {
  font-family: "Poppins", sans-serif;
  line-height: 1.3;
}

.Candy header {
  margin: auto;
  background-color: rgb(195, 229, 233);
}

.Candy label {
  display: inline-block;
  font-weight: 600;
  margin-top: 15px;
  width: 76%;
  color: rgb(77, 77, 77);
}

.Candy section {
}

.Candy nav {
  display: flex;
  justify-content: space-between;
}

.header-port {
  height: 768px;
  background: url("./portada.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header-about {
  height: 80px;
}

.header-img {
  width: 150px;
  height: 80px;
  padding-left: 0px;
  position: relative;
  top: 10px;
  object-fit: cover;
}

.header-menu {
  display: flex;
  justify-content: inherit;
  align-items: center;
  margin-left: auto;
  margin-right: 50px;
  width: 60%;
}

.header-menu > a {
  color: rgb(0, 48, 151);
  text-decoration: none;
  font-weight: 500;
}

.header-menu > .focus {
  font-weight: 800;
}

.header-desc {
  width: 25%;
  position: absolute;
  top: 400px;
  left: 2.5%;
}

.title {
  font-size: 30pt;
  font-weight: bold;
  color: rgb(30, 192, 202);
}

.title-small {
  font-size: 20pt;
  font-weight: bold;
  color: rgb(30, 192, 202);
}

.title-mini {
  font-size: 20pt;
  font-weight: bold;
  color: rgb(30, 192, 202);
}

.title-semicolumn {
  font-size: 41pt;
  position: relative;
  margin-right: 7px;
  top: 5px;
}

.text {
  font-size: 18pt;
  font-weight: medium;
  color: rgb(77, 77, 77);
}

.text-mini {
  font-size: 14pt;
  font-weight: medium;
  color: rgb(77, 77, 77);
}

.button {
  border: 1px solid;
  position: relative;
  top: -50%;
  background-color: white;
  border-color: rgba(0, 48, 151);
  font-weight: 600;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 16px;
  width: 160px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button,
.subtitle {
  color: rgb(0, 48, 151);
}

.button-dark {
  margin: auto;
  margin-top: 10px;
  width: 72%;
  font-size: 15px;
  background-color: rgb(0, 48, 151);
  color: white;
}

.header-text {
  font-size: 21pt;
  font-weight: medium;
}

.header-text:hover {
  font-size: 21pt;
  font-weight: 700;
}

.column-img {
  width: 25%;
  padding-left: 15px;
  padding-right: 15px;
}

.column-img:first-child {
  padding-left: 0;
}
.column-img:last-child {
  padding-right: 0;
}

.column-img-4 {
  width: 33.3%;
  padding: 10px;
}

.column-img-7 {
  width: 19%;
  padding: 10px;
}

.column-img > img {
  height: 250px;
  object-fit: cover;
}

.column-img-4 > img {
  height: 220px;
  object-fit: cover;
}

.favourites {
  width: 100%;
}

.favourites::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 1px solid black;
  z-index: -1;
}

.celebrate-container {
  display: flex;
  justify-content: space-between;
}

.celebrate-container img {
  width: 100%;
  height: 580px;
  object-fit: cover;
}

.contact {
  -webkit-box-shadow: -1px 2px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 2px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 2px 14px 0px rgba(0, 0, 0, 0.75);
}

.Candy footer {
  background-color: rgb(0, 48, 151);
  padding-top: 95px;
  margin-top: 160px;
}

.footer-title {
  font-size: 16pt;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
}

.footer-text,
.footer-text a {
  font-size: 11pt;
  color: white;
  text-decoration: none;
}

.fa {
  padding-right: 5px;
}

.arrow-prod {
  color: rgb(0, 48, 151);
  position: relative;
  top: 20%;
}

.line {
  border-bottom: 1px solid rgb(0, 48, 151);
}
